body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
}

#about, #projects, #resume {
    padding: 4em 1em;
    min-height: 100vh;
}

#about h1, #projects h1, #resume h1 {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    color: steelblue;
}

.header-underline-white {
    border-bottom: white 3px solid;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.header-underline-blue {
    border-bottom: steelblue 3px solid;
    padding: 0.5em;
    margin-bottom: 1em;
    width: fit-content;
    text-align: center;
}

i {
    color: white;
    margin: 5px;
}

.linkedin-link, .email-link, .phone-link {
    border: 1px transparent solid;
}

.linkedin-link, .profile-link, .email-link, .phone-link {
    margin: 5px;
    border-radius: 50%;
    padding: 5px;
}

.profile-link {
    background-color: #292b2c;
    border: 2px white solid;
}

.email-link {
    background-color: #429bf5;
}

.phone-link {
    background-color: #429bf5;
}

.linkedin-link {
    background-color: #2867B2;
}

.linkedin-link:hover, .profile-link:hover, .email-link:hover, .phone-link:hover {
    padding: 10px;
}