body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
}

#about, #projects, #resume {
    padding: 4em 1em;
}

#about h1, #projects h1, #resume h1, #contact h1 {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    color: steelblue;
}

.header-underline-white {
    border-bottom: white 3px solid;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.header-underline-blue {
    border-bottom: steelblue 3px solid;
    padding: 0.5em;
    margin-bottom: 1em;
    width: fit-content;
    text-align: center;
}