#projects {
    background-color: #e3e6e5;
}

#header-desc {
    text-align: center;
}

#projects a {
    color: black;
    text-decoration: none;
}

#projects a:visited {
    color: black;
}

card {
    margin: 1em;
}

.card-header {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-footer {
    padding: 1em;
}

@media(min-width: 992px) {
    .card-header {
        height: 80px;
    }

    .card-body {
        height: 350px;

    }
    .card-footer {
        height: 350px;
    }
}

@media(min-width: 1200px) {
    .card-footer {
        height: 300px;
    }
}

@media(min-width: 1400px) {
    .card-footer {
        height: 250px;
    }
}
