body {
    height: 100%;
    width: 100%;
}

nav {
    padding: 10px;
}

nav ol {
    padding-left: 0;
}

nav li {
    display: inline-block;
    margin: 0 0.5em;
}

section {
    margin: 2em auto;
    padding: 2em;
    height: 900px;
    width: 50%;
}

section li {
    margin-bottom: 5px;
}

header {
    margin: auto;
}

header div {
    padding: 1em;
}

iframe {
    display: block;
    width: 100%;
    height: 300px;
    margin: auto;
}

@media (max-width: 768px) {
    section {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    section {
        width: 70%;
    }
}



