body {
    background-image: linear-gradient(215deg, rgba(100, 211, 241,0.2), rgba(100, 211, 241,0.2)), url("../img/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    background: rgba(32, 99, 117, 0.9);
}

nav ol {
    list-style-type: none;
    text-align: center;
}

nav li {
    border-bottom: 3px solid transparent;
}

nav li:hover {
    border-bottom: 3px solid white;
}

section {
    background: rgba(255, 255, 255, 0.9);
}

header {
    background: rgba(32, 99, 117, 0.9);
}